<html>
  <head>
    
    </head>
<header>  
<h1>
   Karen McLellan
  </h1>
  <ul class="nav">
  <li><a href="#">Home</a></li>
  <li><a href="#">Projects</a></li>
  <li><a href="#">Contact</a></li>
  <li><a href="#">About</a></li>
</ul>
  </header>
 <div class="main">
   <div class="content">
     
   
   <p>
     A love of all language, written or digital. Technical writing and a student of code.
   </p>
   <button>
     View My Work
   </button>
     </div>
  </div>
<footer>
  <ul>
    <li><a href="https://github.com/krmclellan">GitHub</a>
    <li><a href ="www.twitter.com/karenmclellan.com">Twitter</a>
    <li><a href ="https://ca.linkedin.com/in/krmclellan">LinkedIn</a>
     </ul>
  <p>
    &copy; Karen McLellan 2016
  </p>
    </footer>

</html>